header {
    position: absolute;
    top: 30px;
    right: 100px;
    z-index: 2;
}
header h1 a {
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
