<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>

</style>
</head>
<body>
<div class="wrapper">
    <header>
        <a href="javascript:;"><img src="" alt="" title="Globoplay"></a>
    </header>
    <nav class="min-width">
        <ul>
            <li><a href="javascript;">Busca</a></li>
            <li><a href="javascript;">Início</a></li>
            <li><a href="javascript;">Agora na Globo</a></li>
            <li><a href="javascript;">Categorias</a></li>
            <li><a href="javascript;">Minha Conta</a></li>
        </ul>
    </nav>
    <section>
        <div class="destaque">
            <h2>Acompanhe 24h ao vivo a casa mais vigiada do Brasil</h2>
            <div class="action-buttons">
                <button type="button" class="btn btn-primary"><i class="icon icon-play"></i>Assista</button>
                <button type="button" class="btn btn-primary">Veja mais</button>
            </div>
        </div>
        <div class="other-shows">
            <div class="carrossel-programacao">
                <h3>Agora no BBB</h3>
                <div class="carrossel">
                    <ul>
                        <li><a href="javascript:;"><strong>Realities</strong>Piscina</a></li>
                        <li><a href="javascript:;"><strong>Categoria</strong>Item</a></li>
                        <li><a href="javascript:;"><strong>Categoria</strong>Item</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>